:root{
    --max_width: 1280px;
    --light-coral-500: #e29587;
    --grey: #d3d3d3;
    --light-mode-text-color: #333;
}

body {
    background-color: var(--light-coral-500);
    max-width: var(--max_width);
    margin: 0 auto;
    font-size: 16px;
}
header {
    display: grid;
    grid-template-columns: auto auto;
    align-items: end;
    justify-items: center;
}
#darkModeToggle {
    grid-row: 2/3;
    grid-column: 2/3;
}

#darkModeToggle img {
    width: 100px;
    height: 150px;
    margin-bottom: -21px
}
.main-navigation {
    grid-row: 2/3;
    grid-column: 1/2;
}
.nav-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 2rem;
}
.nav-list-link{
    text-decoration: none;
    color: var(--light-mode-text-color);
    border-bottom: 3px solid var(--grey);
    margin: 1rem;
    padding: 0.5rem;
}

#productDisplay {
    background-color: var(--grey);
    display: grid;
    grid-template-rows: repeat(3, auto);
    justify-content: center;
}
#catSelectorMenu {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-row: 3 / 4;
}
.selected-cat{
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}
#catInformation{
    display: grid;
    grid-template-columns: min-content 400px;
    grid-template-rows: 150px auto;
    justify-items: start;
    align-items: start;
}
#catInformation img {
    height: 350px;
    width: 350px;
    object-fit: cover;
    grid-row: 1/3;
}
#catName {
    grid-column: 2/3;
    width: 50%;
    margin: 2rem auto;
    box-shadow: 0px 25px 0px -10px;
    text-align: center;
}
#catDescription {
    border: 1px solid var(--light-coral-500);
    padding: 1rem;
    margin: 0 1rem;
}

#gamePlay{
    display: grid;
    
}

#contact {
    background-color: var(--grey);
    padding: 20px 10px;
}

#contact form {
    display: grid;
    grid-template-areas: 
    "name pref"
    "phone comments"
    "email comments"
    "submit submit";
    justify-content: center;
    gap: 1rem;
}
#contact form div {
    display: flex;
    flex-direction: column;
    /* height: 2rem; */
}
#nameInput {
    grid-area: name;
}
#phoneInput {
    grid-area: phone;
}
#commentInput{
    grid-area: comments;
}
textarea {
    height: 100px;
    padding: 1rem;
    resize: none;
    outline: 2px solid var(--light-coral-500);
    outline-offset: -1px;
    border-radius: 5px;
}
form fieldset {
    grid-area: pref;
    border: 2px solid var(--light-coral-500);
}
#contactSubmitBtn {
    grid-area: submit;
    width: 10rem;
    margin: 0 auto;
    height: 2rem;
    border: 2px outset var(--light-coral-500);
    border-radius: 3px;
}

#contactSubmitBtn:hover {
    border-style: inset;
}

footer {
    text-align: center;
}